@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.for_appy_aboout_couch_font_about{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  
}
.left_sdo {
    box-shadow: 15px 11px 16px -3px rgb(0, 0, 0);
    box-shadow: -15px 4px 20px -12px rgba(0, 0, 0, 1); 
}

