
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: fit-content;
    background-image: url('./assets/imgages/mainbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}